@import url(base.css);

body {
  display: grid;
  margin: 0;
  min-height: 100vh;

  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;

  grid-template-areas:
    "h"
    "n"
    "m"
    "f";
}

@media (min-width: 900px) {
  body {
    grid-template-columns: minmax(192px, 256px) 1fr;
    grid-template-rows: minmax(64px, 128px) 1fr minmax(64px, 128px);

    grid-template-areas:
      "h h"
      "n m"
      "f f";
  }
}

header {
  grid-area: h;
}

nav {
  grid-area: n;
}

main {
  grid-area: m;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
}

footer {
  grid-area: f;
}

h1 {
  font-size: 200%;
  margin: 8px 0;
}

h2 {
  font-weight: bold;
  margin: 10px 5px;
}

article {
  background-color: black;
  color: white;
  margin: 30px 20px;
  padding: 30px;
  border-radius: 10px;
  max-width: 300px;
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
}

article:hover {
  background: rgb(62, 62, 62);
  color: white;
}

article:hover img {
  transform: scale(1.02);
}

img {
  border-radius: 10px;
  margin: 20px auto 30px;
  max-width: 260px;
  box-shadow: 10px 10px 20px 0 rgba(153, 153, 153, 0.353);
  transition: all 0.2s ease;
}

span.btn {
  background-color: rgb(196, 161, 35);
  margin-right: 5px;
  box-shadow: 5px 5px 10px 1px rgba(255, 255, 255, 0.092);
}

span.btn:hover {
  cursor: default;
  transform: scale(1);
}

.genre {
  padding: 4px 8px;
  border: 1px solid rgb(11, 11, 11);
  border-radius: 6px;
  background-color: darkgray;
  font-weight: bold;
}

.genres {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 5px;
}

.description {
  text-align: justify;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.btnEdit {
  font-weight: bold;
}

article:hover .btnEdit {
  animation: shake 0.5s ease;
}

@keyframes shake {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2px);
  }
  75% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}